<h2>Create Happinstance</h2>
<label>Select an Application:</label>
<select ng-model="selectedApplication" ng-options="application for application in applications">
    <option value="">
        ---------
    </option>
</select>

<div class="create">
    <form ng-submit="submit()">
        <div ng-repeat="(image, settings) in config">
            <div ng-repeat="(variable, value) in settings.environment" class="create_setting">
                <span  ng-if="variable.indexOf('DIR') &gt; -1">{{variable}}</span> <span ng-if="variable.indexOf('HOST') &gt; -1">{{variable}} </span>
            </div>
        </div>

        <div ng-hide="selectedApplication == ''">
            <label>Happinstance Name:</label> <input type="text" ng-model="name"> <input type="submit" id="submit" value="Create">
        </div>
        <p class="note">Notes on naming: Use only letters and numbers. No spaces, hyphens, or underscores!</p>
    </form>
    <pre>
        {{toJson(config, 4)}}
    </pre>
</div>

