Select an Application:
        <select ng-model="selectedApplication" ng-options="application for application in applications">
            <option value="">---------</option>
        </select>
<div class="container">
    <form ng-submit="submit()">
        <div ng-repeat="(image, settings) in config">
                <div ng-repeat="(variable, value) in settings.environment">
                    <span ng-if="variable.indexOf('DIR') > -1">
                        {{variable}}
                        <select ng-model="environments[image][variable]" ng-options="code_dir for code_dir in config_options.code_dirs">
                            <option value=""></option>
                        </select>
                    </span>
                    <span ng-if="variable.indexOf('HOST') > -1">
                        {{variable}}
                        <select ng-model="environments[image][variable]" ng-options="vhost as vhost for (vhost, status) in vhosts_available"></select>
                    </span>
                </div>
        </div>
        <div ng-hide="selectedApplication == ''">
            Happinstance Name: <input type="text" ng-model="name" required>
            <input type="submit" id="submit" value="Submit" />
        </div>
    </form>
    <pre>{{toJson(config, 4)}}</pre>
</div>
