<h1>Happinstance Details</h1>
<h2>Happlication: {{application}}/{{name}}
  <a class="btn_remove"
     ng-click="delete()"><span>Decomission?</span><em>Do it!</em></a>
</h2>

<h3>The happinstance is:
  <span class="status_toggle"
        ng-class="detail.status"
        ng-click="toggleStatus(detail.status)">{{detail.status}}</span>
</h3>

<h3>{{name}} Container Names and Ports</h3>
<ul class="details_namesports">
    <li ng-repeat="(container, port) in port_info">{{container}}: {{port}}</li>
</ul>

<h3>{{name}} Configurations</h3>
<div ng-repeat="(container, config) in detail.config" class="details_config">
    <h4>{{container}}</h4>
    <pre>{{toJson(config, 2)}}</pre>
</div>
