<h2>Manage Vhosts</h2>
<label>Select an Application:</label>
<select ng-model="selectedApplication" ng-options="application for application in applications">
    <option value="">---------</option>
</select>
<div ng-hide="selectedApplication == ''">
    <h3>Current Vhosts for {{selectedApplication}}</h3>
    <ul ng-repeat="(name, allocated) in vhosts" class="manage_list">
        <li>{{name}}</li>
    </ul>
    <form ng-submit="submit()">
        <label>New Vhost:</label> <input type="text" ng-model="name">
        <input type="submit" id="submit" value="Submit" />
    </form>
</div>
